{
  "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "no-unused-vars": "warn"
  },
  "env": {
    "node": true
  }
}